.ProseMirror {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

 
}
.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
